absl-py==0.9.0
appdirs==1.4.3
asn1crypto==1.3.0
astor==0.8.0
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
backcall==0.1.0
black==19.10b0
blinker==1.4
bokeh==2.0.1
boto3==1.12.40
botocore==1.15.40
cachetools==3.1.1
cchardet==2.1.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.3.0
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==2.14.0
decorator==4.4.2
dill==0.3.1.1
docutils==0.15.2
fastprogress==0.2.3
filelock==3.0.12
future==0.18.2
gast==0.2.2
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.51.0
grpcio==1.27.2
h5py==2.10.0
idna==2.9
imageio==2.8.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
jupyter-client==6.1.3
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
keras-bert==0.81.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.32.0
kiwisolver==1.1.0
ktrain==0.13.0
langdetect==1.0.8
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==3.1.0
packaging==20.3
pandas==1.0.3
parso==0.7.0
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.4
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycparser==2.20
pydot==1.4.1
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.41
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
sentencepiece==0.1.85
seqeval==0.0.12
six==1.14.0
syntok==1.2.2
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-datasets==3.0.0
tensorflow-estimator==2.1.0
tensorflow-metadata==0.21.2
termcolor==1.1.0
tokenizers==0.5.2
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
transformers==2.8.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.28.0
